@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root {
    --light-white: #d1d1d8;
    --dark: #1d1d1d;
}

html, body {
    margin: 0;
}

.iphone-container h1 {
    font-size: 50px;
    margin: 0;
}

.iphone-container h2, .iphone-container h3 {
    margin: 0px;
}

.iphone-container h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.iphone-container span {
    font-weight: 200;
}

.iphone-container svg {
    width: 70px;
    height: 70px;
    margin: 40px 0 0;
}

.iphone-container .iphone-weather {
    font-size: 13px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    text-align: left;
    padding: 0 20px;
    color: var(--light-white);
    margin-top: 30px;
    grid-gap: 10px;
}

.iphone-container {
    width: 250px;
    height: 500px;
    border: 10px solid black;
    border-radius: 30px;
    background-color: var(--dark);
    position: relative;
    color: white;
    text-align: center;
    padding: 50px 5px 20px 5px;
}

.iphone-container .iphone-top {
    width: 140px;
    height: 20px;
    border-radius: 0 0 20px 20px;
    background-color: black;
    position: absolute;
    top: 0;
    left: calc(50% - 70px);
}


.iphone-container .iphone-menu {
    width: 80px;
    height: 2px;
    border-radius: 30px;
    background-color: var(--light-white);
    position: absolute;
    bottom: 15px;
    left: calc(50% - 40px);
}